body{
font-family: Arial;
background-color: #fafafa;
text-align: center;
}

header{
background-color: black;
color: white;
padding: 10px;
}

table{
margin: auto;
border-collapse: collapse;
}

th{
background-color: blue;
color: white;
padding: 10px;
}

td{
padding: 10px;
}

button{
background-color: green;
color: white;
padding: 5px 10px;
border: none;
}