body{
font-family:Arial;
background:#f4f4f4;
margin:0;
text-align:center;
}

header{
background:black;
color:white;
padding:20px;
}

nav{
background:#333;
padding:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.search-box{
margin:20px;
}

.search-box input{
padding:10px;
width:250px;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

.card img{
width:100%;
height:150px;
object-fit:cover;
}

.rating{
color:orange;
}

button{
background:green;
color:white;
border:none;
padding:8px 15px;
cursor:pointer;
}

table{
margin:auto;
background:white;
border-collapse:collapse;
}

th,td{
border:1px solid #ccc;
padding:10px;
}

.contact{
width:300px;
margin:auto;
background:white;
padding:20px;
}

.contact input,
.contact textarea{
width:100%;
margin:10px 0;
padding:8px;
}