body{
font-family: Arial, sans-serif;
background-color: #f4f4f4;
text-align: center;
}

header{
background-color: black;
color: white;
padding: 15px;
}

nav{
margin: 15px;
}

nav a{
text-decoration: none;
background-color: blue;
color: white;
padding: 8px 15px;
margin: 5px;
border-radius: 5px;
}

nav a:hover{
background-color: darkblue;
}

table{
margin: auto;
border-collapse: collapse;
width: 60%;
background: white;
}

th{
background-color: #333;
color: white;
padding: 10px;
}

td{
padding: 10px;
border: 1px solid #ddd;
}

button{
background-color: green;
color: white;
border: none;
padding: 6px 12px;
cursor: pointer;
}

button:hover{
background-color: darkgreen;
}

footer{
margin-top: 20px;
padding: 10px;
background-color: black;
color: white;
}